h1 {
    text-align: center;
 font-family: 'Ariel', Ariel, Ariel;
    color: purple;
}
h3 {
    text-decoration: underline;
}


.container-fluid {
    display: grid;
  }

 /* PHONE MODE ONLY */
@media screen and (max-width: 767px) {
    .col-lg-1, .col-lg-2, .col-lg-3
 {
 float: left;
 border: 1px solid black;
 }
 .col-lg-1 {
    width: 100%;
    
 }

.col-lg-2 {
    width: 100%;
    
}
.col-lg-3 {
    width: 100%;
    
 }
}
/* PHONE MODE ONLY */

/* TABLET MODE ONLY */
@media  (min-width: 768px) and (max-width:991px){
    .col-lg-1, .col-lg-2, .col-lg-3
 {
 float: left;
 border: 1px solid black;
 }
 .col-lg-1 {
    width: 40%;
    
 }

.col-lg-2 {
    width: 40%;
    
}
.col-lg-3 {
    width: 89%;
    
 }
}
/* TABLET MODE ONLY */


/* DESKTOP MODE ONLY */
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3
 {
    
 float: left;
 border: 1px solid black;
 }
 .col-lg-1 {
    width: 26%;
   
 }

.col-lg-2 {
    width: 26%;
    
}
.col-lg-3 {
    width: 26%;
  
 }
}
/* DESKTOP MODE ONLY */

.Head1 {
    position: relative;
    float: right;
    color: pink;
    margin-top: 0px;
    margin-right: 0px;
    padding: 10px;
    border: 1px solid pink;

}
.Head2 {
    position: relative;
    float: right;
    color: pink;
    margin-top: 0px;
    margin-right: 0px;
    padding: 10px;
    border: 1px solid pink;

}
.Head3 {
    position: relative;
    float: right;
    color: pink;
    margin-top: 0px;
    margin-right: 0px;
    padding: 10px;
    border: 1px solid pink;

}
p {
    text-align: center;
    background-color: pink;
    padding: 10px;
    border: 5px;
    margin: 40px;
    color: black;
    
 }

 .row {
    margin-bottom: 15px
 }
 .row > div {
    border: 2px solid yellow;
    background-color: pink;
 }

.col-lg-1 {
    margin: 25px;
  
}

.col-lg-2 {
    margin: 25px;
   
}
.col-lg-3 {
    margin: 25px;
 
}